.card{
    margin: 15px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4 ,h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.books{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 400px;
    padding: 12px;
    background-color: floralwhite;
    border-radius: 10px;
}